body{
    background-color:#F6F8F9;
    margin:0px;
    padding:0px;
  }
  .head{
    background-color: white;
  }
  .header{
    float: right;
    display: flex;
    align-items: center;
    margin-right: 2%;
    height: 32px;
    background-color:white;
  }
  .header img{
    border-radius:470px;
  }
  /* ------------------------HEADER-PART----------------------*/
  .flex-layer{
    display:flex;
    flex-direction:column;
    background-color: white;
    align-items:center;
    border:1px solid #FFFFFF;
    justify-content:space-between;
    float:left;
    width: 70.14px;
    margin-top: 20px;
  height: 500px;
  margin-left: 50px;
  }
  .flex-layer p{
    margin: 90px 0px 0px  0px;
    transform: rotate(270deg);
  }
  .image{
    margin-top: 100px;
   
  }
  .main-layer{
    display: block;
    background-color: #FCFCFC;
    height: 540px;
    width: 1250px;
    margin-left: 50px;
  
    box-shadow:2px 5px 18px #c5c4c4;
  }
  .group{
      background-color:white;
      float: left;
      width:79%;
      height:78%;
      margin-top: 50px;
      margin-left: 50px;
      border: 1px solid #E0E0E0;
  }
 /* .justify{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
   float: left; 
    margin: auto;
    margin-left: 1600px;
  }*/
  .browsefile{
    padding:3%;
    border: 1px solid #DBEFEB;
    margin-left:70px;
    margin-right:680px;
    background-color:white; 
    margin-top: 30px;
    margin-bottom: 50px;
    height: 5%;
    display:flex;
    align-items:center;
    flex-direction:row;
    justify-content:space-between;
}
.browsefile1{
    padding:1%;
    border: 1px solid #DBEFEB;
    margin-left:70px;
    margin-right:680px;
    background-color:white; 
    margin-top: 30px;
    margin-bottom: 50px;
    height: 5%;
    display:flex;
    align-items:center;
    flex-direction:row;
    justify-content:space-between;
}
