body{
    background-color: #F6F8F9;
    margin:-10px 0px 0px 0px;
}
.head{
    background-color: white;
    padding: 1%;
  }
  .header{
    float: right;
    margin-right: 2%;
    height: 20px;
    background-color:white;
    padding: 1%;
  }
  .header img{
    border-radius:470px;
  }


.flex-layer{
    flex-direction: row;
    background-color: white;
    height:80px;
margin:auto;
width:97%;
border: 1.5px solid lightgrey;
box-shadow:5px 10px 18px #c5c4c4;
}
.line{
  /*  margin-left: 5px;
    margin-top: 10px;*/
    margin: 20px 0px 0px 10px;
}

.input-box
{
position: relative;
width: 452px;
margin-left: 30%;
float: left;
 margin-bottom 4%;
}
.move{
    margin:0.5px 0px 0px 1110px;
 }
.input-box input{
    border-style: ridge;
    border-radius: 50px;
    background-color: white;
    display: block;
    box-sizing: border-box;
    width:450px;
    height: 35px;
}
.input-box img{
    position:absolute;
    top: 10px;
    left: 424px;
    float: right;
}
.button{
    background-color: rgb(0, 162, 255);
     border: solid rgb(0, 162, 255);
     border-radius: 25px;
     padding: 4px;
     color: white;
     
}

.flex-sublayer{
    background-color: white;
    font-size: 10px;
    height:80px;
margin:auto;
width:97%;
height: 79px;;
border: 1px solid gray;
box-shadow:5px 10px 18px #888888;
}
.filter{
    margin-left: 1%;
    margin-top: 1%;
    background-color:white;

    float: left;
}
.side{
    position: relative;
    top: 20px;
    float: left;
}
.same{
   margin-left: 98%;
}

.flex-firstlayer{
    position: relative;
    background-color: white;
margin:auto;
width:97%;
border: 1px solid gray;
height: 80px;

}
.im{
    position: relative;
width: 10%;
  float: left;
  margin-left: 11%;
  margin-top: 2%;

}
.right{
    position: relative;
    top: 20px;
    left: 400px;
width: 15%;
   float: left;
}
.left{
    margin-left:35px;
width: 30%;
    float: left;
    height: 70px;
}

.round{
    background-color: #24D081;
    width:11px;
    height:11px;
    border-radius: 50%;
   display: inline-block;
   margin-right: 80px;
}
.flex-showmore{
    flex-direction: row;
    color: grey;
    background-color: white;
    display:flex;
    align-items:center;
    font-size: 12px;
    height:60px;
    margin:auto;
width:97%;
justify-content:center;
border: 1px solid grey;
box-shadow:5px 10px 18px #888888;
}
.space{
    margin-left:-80px;
}

