templates { 
	color: white; 
	background-color : gray; 
	width: 100%; 
} 
heading { 
	color:rgba(0, 255, 255, 0.459); 
	font-size : 40px; 
	/* background-color : powderblue;  */
	margin-left: 37%;
} 
title, main, wish, name{ 
	display : block; 
	padding: 2%;
	margin-left: 20%;
} 
title { 
	font-size : 35px; 
	font-weight : bold; 
	padding: 5%;
	margin-left: 30%;
} 
surprise{
    padding: 4%;
    margin-left: 20%;
    color: lightgreen;
}

.left{
	margin-left: 100px;
}

.edge{
    display:flex;
    align-items:center;
   
   padding-right: 100px;
   
  }
.a{
  position: absolute;
  margin-left: 5%;
}
  button {
    background-color: #32BDD2;
    color: white;
    padding: 8px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 40px;
    position: relative;
    left: 20px;

}
