body{
  background-color:#F6F8F9;
  margin:0px;
  padding:0px;
}
.head{
  background-color: white;
}
.header{
  float: right;
  display: flex;
  align-items: center;
  margin-right: 2%;
  height: 32px;
}
.header img{
  border-radius:480px;
}
/* ------------------------HEADER-PART----------------------*/
.flex-layer{
  display:flex;
  flex-direction:column;
  background-color: white;
  align-items:center;
  border:1px solid #FFFFFF;
  justify-content:space-between;
  float:left;
  width: 74.14px;
  margin-top: 20px;
height: 697px;
margin-left: 50px;
text-align: left;
font: Bold 14px/67px Roboto;
letter-spacing: 2.8px;
color: #000000;
}

.flex-layer p{
  margin: 100px 0px 0px  0px;
  transform: rotate(270deg);
}
.image{
  margin-bottom: 70px;
 
}
.main-layer{
  display: block;  
 margin-top: 20px;
 margin-left: 120px;
  width: 850px;
  height: 700px;
  background: #FCFCFC 0% 0% no-repeat padding-box;
  opacity: 1;
  box-shadow:2px 5px 18px #c5c4c4;
}
.sub-layer{
  display:flex;
  align-items:flex-start;
  justify-content: space-between;
 width: 825px;
height: 620px;
background: #FFFFFF ;
border: 1px solid #F0F0F0;
margin-bottom: 80px;
 margin-left: 17px;
}

.as{
  color: #000000;
  font-size: 14px;
  font: Regular 12px/18px Roboto;
  letter-spacing: 0.6px;
  margin-left: 20px;
  padding: 1%;
}
.content{
  font-size: 12px;
  text-align: left;
font: Regular 12px Roboto;
letter-spacing: 0.78px;
color: #747474;
display: flex;
padding: 2%;
align-items: center;
flex-direction: row;
justify-content: flex-end;

}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}
.one{
 margin-right: 350px;
}
.second-layer{
  width: 830px;
  background-color:#F0F0F0;
  margin-bottom:5%;
  height:100px;
  border: 1px solid #F0F0F0;
}
.dates1{
  font-size: 12px;
  padding: 1%;
  display: flex;
  align-items: center;
  font: Regular 12px/18px Roboto;
letter-spacing: 0.78px;
color: #747474;
  justify-content: space-between;
  border:  #F0F0F0;
  margin: auto;
  margin-left: 50px;
}
.button{
  background: #32BDD2 0% 0% no-repeat padding-box;
  border: solid #32BDD2;
   border-radius: 70px;
   padding: 4px;
   color: white;
}
.save{
    display:flex;
    align-items:center;
    flex-direction:row;
    justify-content:space-between;
margin-top:7%;

}
.edge{
  display:flex;
  align-items:center;
  flex-direction:row;
  justify-content:space-between;
  margin-left:50px;
}